html {
    height: 100%;
}
body {
    margin: 0;
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;

}

.brand-container {
    width: 40%;
    height: 100%;
    background-image: url('brandLogo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: white;
}

.banner-container {
    margin-top: 35%;
    height: 15%;
    width: auto;
    background-color: black;
    opacity: 75%;
    display: flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
}

.brand-footer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.form-container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.form-body {
    height: 50%;
    padding: 15% 5% 0% 5%;
    display: flex;
    flex-direction: column;
    gap: 7%;
    box-shadow: 0px 15px 10px -15px grey; 
}

.form {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
}

#form-space {
    padding-bottom: 2%;
}

.form-pane {
    display: flex;
    gap: 20%;
}

.left-form, .right-form {
    display: flex;
    flex-direction: column;
}

.form-row {
    padding-bottom: 15%;
}

.form-footer {
    display: flex;
    flex-direction: column;
    padding: 3% 0 0 3%;
}

.form-row-footer {
    padding-bottom: 5%;
}

label,input{
    display:flex;
    flex-direction:column;
  }